spring:
  profiles:
    active: local
    group:
      local:
        - jwt
      qa:
        - jwt
      prod:
        - jwt
      batch:
        - jwt
  messages:
    basename: i18n/exception
    encoding: UTF-8

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    tryItOutEnabled: true
    operationsSorter: method
